.parentSection{
  margin-right: 10px;
  margin-left: 10px;
}


.headings{
  text-align: center;
}

#pdfResume{
  text-align: center;
  color: rgb(0,0,0);
}

#resume{
  width:800px;
  margin: 30px auto 0 auto;
}

.desc{
  float:right;
}

.section{
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item{
  background-color: white;
  border-color: black;
}

footer{
  position:static;
}

.list-group-item:hover{
  background-color: #d9edf7;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #9acfea;
}

a:active {
    text-decoration: none;
    color: black;
}

@media (max-width: 760px) {
  #resume{
    width: 100%;
    font-size: 12px;
  }
  h4{
    font-size: 15px;
  }

  h5{
    font-size: 14px;
  }

}

@media (max-width: 450px) {
  #resume{
    width: 100%;
    font-size: 10px;
  }
  h4{
    font-size: 12px;
  }

  h5{
    font-size: 11px;
  }

}


@media (max-width: 320px) {
  #resume{
    width: 100%;
    font-size: 8px;
  }
  h4{
    font-size: 11px;
  }
  h5{
    font-size: 9px;
  }

}
